@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
    margin: 0;
    padding: 0;
    font-family: "Inter";
}
body {
    background-color: hsl(36, 100%, 99%);
}
nav {
    position: relative;
}
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
}
.nav-links {
    display: none;
}
.nav-links-laptop {
    display: none;
}
.nav-links.active {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    position: fixed;
    right: 0;
    height: 100%;
    box-shadow: -200px 0px 0px 0px rgba(0, 0, 26, 0.5);

}
.nav-links > a {
    text-decoration: none;
    margin: 2rem 0;
    color: hsl(240, 100%, 5%);
    font-size: 1.25rem;
    padding-left: 2rem;
}
.hamburger-menu.disabled {
    display: none;
}
.hamburger-menu-close {
    display: block;
    position: absolute;
    right: 1.25rem;
    top: 2.5rem;
}
section {
    padding: 0 1rem;
}
.head-image > img {
    width: 100%;
}
.header > h1 {
    color: hsl(240, 100%, 5%);
    margin: 1rem 0;
    font-size: 2.5rem;
    font-weight: 800;
}
.p-wrapper > p {
    color: hsl(236, 13%, 42%);
    margin: 0 0 1rem 0;
    font-size: 0.938rem;
}
.p-wrapper > a {
    text-decoration: none;
}
.read-more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 44px;
    background-color: hsl(5, 85%, 63%);
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 0.938rem;
}
.read-more:hover {
    background-color: hsl(240, 100%, 5%);
}
#new {
    margin-top: 4rem;
    background-color: hsl(240, 100%, 5%);
}
.new-text {
    margin: 0 1rem;
    padding: 1rem 0 2rem 0;
    border-bottom: 1px solid hsl(236, 13%, 42%);
}
.new-text > a {
    text-decoration: none;
}
.new-text > a > h2 {
    color: hsl(35, 77%, 62%);
    font-size: 2rem;
    margin-bottom: 1rem;
}
.new-text > a > h4:hover {
    color: hsl(35, 77%, 62%);
}
.new-text > a > h4 {
    padding-top: 1rem;
    color: white;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
}
.new-text > a > p {
    color: hsl(233, 8%, 79%);
    line-height: 1.75rem;
    font-size: 0.938rem;
}
.new-text.last {
    border-bottom: none;
}
.bottom {
    margin: 4rem 0 ;
}
.column {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.picture {
    margin-right: 1.5rem;
}
.picture > img {
    max-width: 110px;
}.column > a {
    text-decoration: none;
}
.column-text > h3 {
    color: hsl(233, 8%, 79%);
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
.column-text > h4 {
    color: hsl(240, 100%, 5%);
    font-size: 1.125rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
}
.column-text > h4:hover {
    color: hsl(5, 85%, 63%);
}
.column-text > p {
    font-size: 0.938rem;
    color: hsl(236, 13%, 42%);
    line-height: 1.5rem;
}
.img-desktop {
    display: none;
}
@media only screen and (min-width: 600px) {

    .hamburger-menu {
        display: none;
    }
    .nav-links-laptop {
        display: flex;
    }
    .nav-links-laptop > a {
        text-decoration: none;
        margin: 0 1.5rem;
        color: hsl(236, 13%, 42%);
    }
    .nav-links-laptop > a:hover {
        color: hsl(5, 85%, 63%);
    }
}
@media only screen and (min-width:1024px) {

    .grid-wrapper {
        display: grid; 
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }
    .img-desktop {
        display: block;
    }
    .img-mobile {
        display: none;
    }
    .head-image {
        grid-row-start: 1;
        grid-column-start: 1;
     
        grid-row-end: 2;
        grid-column-end: 3;
    }
    #new {
        grid-row-start: 1;
        grid-column-start: 3;
     
        grid-row-end: 3;
        grid-column-end: 4;
        margin-top: 0;
        max-height: 550px;
    }
    .header {
        width: 100%;
    }
    .header > h1 {
        font-size: 3rem;
        line-height: 3rem;
    }
    .p-wrapper {
        width: 100%;
    }
    .future {
        display: flex;
        grid-row-start: 2;
        grid-column-start: 1;
     
        grid-row-end: 3;
        grid-column-end: 3;
    }
    .p-wrapper > p {
        line-height: 1.5rem;
        margin-bottom: 2rem;
    }
    .bottom {
        margin: 0;
        display: flex;
    }
    .column {
        margin-right: 1rem;
    }
}
@media only screen and (min-width: 1250px) {
    .nav-wrapper {
        padding: 5rem 10rem;
    }
    section {
        padding-left: 10rem;
        padding-right: 10rem;
    }
}